@model IEnumerable<ToDoList.Models.Item>

@{
    ViewData["Title"] = "Item";

}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>@Html.DisplayNameFor(model => model.Category.Name)</th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.ItemId">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.ItemId">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.ItemId">Delete</a>
        </td>
    </tr>
}
</table>
